body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
body{
  background: #333745
} */

html, body{
  padding:0;
  margin:0;
  min-width:100vh;
  height:100%;
      background: #333745;
      background-size: 100% 100%;
      background-repeat:no-repeat
    
    
  }
  